
.Button5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.05);
    padding: 8px;
    height: 80px;
}

.Button-outlined {
     border: 1px solid orange; 
    padding: 5px 16px;
    padding: 5px 16px;
    color: orange;
    /* width: 74px; */
    border: 2px solid orange;
    font-size: 1.4rem;
    width:80%;
}
.Button-label {
        width: 100%;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
}

.Button-root {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}