.MuiPaper-elevation1 {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.MuiPaper-rounded {
    border-radius: 4px;
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.Column2_column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,.05);
    padding: 8px;
    min-width: 180px;
    height: 80px;
}
.Column2_quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.Column2_column2 .Column2_left i {
    width: 25px;
    padding-right: 10px;
}
.Column2_averageCost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.Column2_investedAmount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.Column2_column2 i {
    width: 25px;
    padding-right: 10px;
}