.MuiPaper-elevation1 {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.Column4_column4__1QQvb {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.05);
    padding: 8px;
    min-width: 200px;
    height: 80px;
}
.Column4_column4__1QQvb .Column4_unrealizedPL__2O56_ {
    font-weight: 700;
}
.Column4_column4__1QQvb .Column4_return__1IWhX{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.Column4_column4__1QQvb .Column4_return__1IWhX {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.Column4_column4__1QQvb .Column4_return__1IWhX span:first-child {
    color: rgba(0,0,0,.5);
    font-size: 0.9rem;
}
.Column4_column4__1QQvb .Column4_return__1IWhX span:nth-child(2) {
    font-weight: 700;
}
.Column4_column4__1QQvb .Column4_progress___6IXQ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 8px;
}
.Column4_column4__1QQvb .Column4_progress___6IXQ>div:first-child {
    transform: rotate(180deg);
}
.Column4_column4__1QQvb .Column4_progress___6IXQ>div {
    width: 50%;
}
.Column4_column4__1QQvb .Column4_progress___6IXQ>div {
    width: 50%;
}
.fr{
    float: right;
}
#file{
    width:80%;
    height: 20px;
    color:green;
   
}