.card-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 7px 9px;
    padding: 5px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.MuiPaper-elevation1 {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.MuiPaper-rounded {
    border-radius: 4px;
}
.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.Column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 170px;
    position: relative;
    height: 80px;
    padding: 8px;
    background: rgba(0,0,0,.05);
}
.Column1 i {
    position: absolute;
    left: 4px;
    font-size: 12px;
    cursor: pointer;
}
.Column1_2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 14px;
        margin-left: 12px;
}
.Column1_2_1{
        color: rgba(0,0,0,.4);
        font-size: .8rem;
        font-weight: 700;
}
.Column1_2_2{
        color: #00b7ff;
        font-size: 1.2rem;
        font-weight: 600;
}
.Column1_3{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
}
.Column1_3_1{
    color: #a8bd84;
    font-weight: 700;
    font-size: 0.9rem;
}
.Column1_3_2{
        font-size: .6rem;
}
.Column1_3_3{
    font-size: 0.6rem;
    font-weight: 700;
}
.Column1_3_4{
    font-size: 0.5rem;
}