.MuiPaper-elevation1 {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.MuiPaper-rounded {
    border-radius: 4px;
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.Column3_column3__3Gwhf {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.05);
    padding: 8px;
    min-width: 220px;
    height: 80px;
}
.Column3_column3__3Gwhf .Column3_marketValue__C9vyQ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.Column3_column3__3Gwhf .Column3_marketValue__C9vyQ {
    font-weight: 700;
}
.Column3_portfolioValue__DgndM {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.Column3_column3__3Gwhf .Column3_portfolioValue__DgndM span:first-child {
    color: rgba(0,0,0,.5);
    font-size: 0.9rem;

}