.navbar {
    border: medium none;
    float: left;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 0;
    margin:15px;
}
.top-nav {
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #dbdbdb
}

.top-nav .nav-link {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}

.top-nav .navbar-nav .nav-item+.nav-item {
    margin-left: 0;
   
}
.top-nav li{
  float:left;
  list-style-type: none;
}

.top-nav li a {
    color: #141517;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
    border-bottom: 2px solid #fff
}

.top-nav li a:hover, .top-nav li a:focus, .top-nav li.active a {
    color: #141517;
    border-bottom: 2px solid #FD3A13
}

.top-nav .form-control {
    border-color: #fff
}

.navbar-toggle {
    background: #fff;
}

.navbar-toggle .icon-bar {
    background: #0A2E61;
}

.navbar-brand {
    display: none;
}
