.header-container{
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;
        background: #fff;
}
img {
    vertical-align: middle;
    width:"30px";
    height:"30px";
    margin:"5px";
}
.header-container i {
    font-size: 18px;
    cursor: pointer;
}
.bars{
    float: right;
    margin:5px;
}
.darts{
    align-items: left;
    float:left;
}